*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right, #3498db, #1abc9c);
}



.card-header{
    padding-left: 200px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(223, 235, 244, 0.2);
    
}

.card{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.btn:hover {
    background-color: rgba(199, 198, 195, 0.2);
    color: #fff; 
    border-radius: 10px;
  }

  .btn {
    transition: border-radius 0.3s; 
    background: rgba(117, 102, 102, 0.3);
    border: none;
    margin-left: 260px;
    
}

  .custom-margin a{
    text-decoration: none;
    color: antiquewhite;
    margin-left: 220px;
  }

.custom-margin a:hover{
    color: #FF5733;
    text-decoration: underline;
  }



  .form-control{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
  }


  .form-control:focus {
    background-color: rgba(120, 112, 112, 0.2);
}

.form-control:focus:not(:placeholder-shown) {
    background-color: rgba(155, 222, 255, 0.3);
    color: white;
}